.catalog{
    display: flex;

    justify-content: space-between;
}
.categories{
    max-width: 220px;
    margin-bottom: 175px;
}
.category, .category__root{
    margin-left: 10px;
    cursor: pointer;

    padding: 20px;

    color: rgb(255, 255, 255);

    text-align: center;
    font-weight: bold;

    position: relative;
}
.category{
    background-color: rgb(255, 255, 255);
    color: #000;

    border: 1px solid #000;
}
.category__root{
    background-color: #000;
    color: rgb(255, 255, 255);

    border: 1px solid rgb(255, 255, 255);
}
.active::after {
    content: "+";
    color:rgb(146, 146, 146);
}

.product, .product_item{
    display: flex;
    flex-direction: column;
}
.product{
    margin: 50px;
}
.product_items{
    display: flex;
    justify-content: space-between;
}
.product_item{
    width: 260px;
    height: 320px;

    position: relative;
}

.count, .count-root{
    position: absolute;
    left: 0;
    top:0;

    font-size: 10px;
}
.btn-edit{
    max-width: 50px;

    position: absolute;
    top: 0;
    right: 8px;
}

textarea{
    resize: none;

    width: 100%;
    height: 100px;

    margin-bottom: 20px;
}

.modal-content{
    position: relative;
}
.btn-dark{
    position: absolute;

    right: 10px;
    top: -70px;
}

.popup{
    position: absolute;
    top: 10px;
    right: 10px;

    max-height: 120px;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;


    z-index: 100000;
}

.popup__text{
    color:white;
    font-weight: bold;
    font-size: 20px;

    padding: 16px;
    text-align: center;
}