.active{
    background-color: #00a1e0;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.active:hover{
    color: rgb(255, 255, 255);
}
.btn-secondary{
    background-color: rgb(255, 255, 255);
    color: #00a1e0;
    border: 1px solid #00a1e0;

    cursor: pointer;
}

.btn-secondary:hover{
    background-color: #00a1e0;
    color: rgb(255, 255, 255);
}

.btn-group{
    margin-top: 6px;
}

.store-image img{
    width: 300px;
}