.order{
    display:flex;
    flex-direction: column;

    &__title{
        color: #84BD00;

        font-size: 32px;
    }
    &__form{
        padding: 12px;
        border: 4px solid lightslategray;

        position: relative;
    }
    &__table-header{
        background-color: #eee;
        color: #54585a;
        font-weight: bold;
        padding: 3px 5px;
        white-space: nowrap;
    }
    &__search{
        position: absolute;
        right: 0;
        top: 0;
    }
    &__active-link{
        font-weight: bold;
        text-decoration: none;
    }
    &__switch-link{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: inline-block;
        padding: 5px 12px;
        background-color:#e5e5e5;
        color:#666;
        text-decoration: none;
    }
}
.js-error-message{
    color:rgb(255, 0, 0);
    margin-top: 10px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    max-height: 450px;
    width: 500px;

    padding: 25px;

    background-color: rgb(207, 233, 248);

    z-index: 100000;
    &__orderDetail{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: white;;

        padding: 20px;

        position: relative;
    }
    &__orderDetails{
        display: flex;
        flex-direction: column;

        border: 1px solid rgb(207, 207, 207);
    }
    &__header{
        position: absolute;
        top: -20px;
        left: -15px;

        color: #15428b;

        font-weight: bold;
    }
    &__param{
        margin: 8px;
        color: black;
        font-size: 11px;
        font-weight: bold;

        background: rgb(241, 238, 238);
    }
    &__btn{
        position: absolute;
        top:0;
        right: 0;
    }
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.error-notification{
    position: absolute;
    top: 10px;
    right: 10px;

    max-height: 120px;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;


    z-index: 100000;
    &__text{
        color:white;
        font-weight: bold;
        font-size: 20px;

        padding: 16px;
        text-align: center;
    }
}